body {
  color: black;
}

.container {
  border: 1px solid #ccc;
  width: 400px;
  text-align: center;
  margin: auto;
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: auto;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 17px;
  justify-content: space-around;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}

.tab button:hover {
  font-weight: 700;
}

.tab button.active {
  border-bottom: 1px solid blue;
  font-weight: 700;

}

.tabcontent {
  height: 100px;
  display: none;
  padding: 6px 12px;
  border-top: none;
  width: 300px;
  margin: auto;
  justify-content: space-around;
}

.stopWatch-number {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.stopWatch-number > input {
  text-align: center;
  margin: 25px 5px;
  width: 30px;
  height: 40px;
  border: none;
  justify-content: center;
  background-color: white;
  font-weight: 600;
}

.timer-number {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.timer-number > input {
  text-align: center;
  margin: 25px 5px;
  width: 50px;
  height: 40px;
  border: none;
  justify-content: center;
  font-weight: 600;
}

.timer-btn {
  border-top: 1px solid gray;
  padding: 7px 0;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Times New Roman', Times, serif;

}

.timer-btn > button {
  /* padding: px; */
  width: 50px;
  margin: 5px;
}
